<%= javascript_include_tag "https://www.google.com/jsapi" %>


<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Oc creadas por dia</h3>
    <%= line_chart @ocs.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>
  </div>

<div class="row">
  <div class="col-xs-6">
    <h3>Nombres de Oc</h3>
    <%= pie_chart @ocs.group(:name).count %>
  </div>
</div>

<div class="col-xs-6">
    <h3>Total Visits Per Country</h3>
    <%= column_chart @ocs.group(:name).count %>
  </div>

<div class="col-xs-6">
    <h3>Total Visits Per Country</h3>
    <%= bar_chart @ocs.group(:name).count %>
  </div>

</div>

<div>
<% @respuesta.each do |saldo|  %>
    <%= saldo['saldo'] %>
<% end %>




<div class="col-xs-6">
    <h3>Facturacion diaria de Boletas</h3>
    <%= line_chart @b2cs.group_by_day(:created_at).count %>
  </div>

<div class="col-xs-6">
    <h3>Facturacion diaria por FTP y B2B en cantidad</h3>
    <%= line_chart @ocs.group(:tipo).group_by_day(:created_at).count %>
  </div>

  <div class="col-xs-6">
    <h3>Facturacion diaria por FTP y B2B en pesos</h3>
    <%= line_chart @ocs.group(:total).group_by_day(:created_at).count %>
  </div>

  <div class="col-xs-6">
    <h3>Facturacion diaria de Boletas</h3>
    <%= line_chart @b2cs.group_by_day(:created_at).count %>
  </div>

</div>