

<h1>DOCUMENTACION</h1><br>
<ul> <font size="5"><b> >ID del grupo y ID cuenta Banco: <%= link_to "integra9.ing.puc.cl/api/datos", "api/datos" %></b></font></ul>
<ul>Entrega JSON con ID de la cuenta banco del grupo</ul>
<ul>Retorno: {"idGrupo":string, "idCuentaBanco":string}</ul><br>

<ul> <font size="5"><b> >ID del almacen: <%= link_to "integra9.ing.puc.cl/api/ids/almacenId", "api/ids/almacenId" %></b></font></ul>
<ul>Entrega JSON con ID del almacén de recepción del grupo</ul>
<ul>Retorno: {"id":string}</ul><br>

<ul> <font size="5"><b> >Stock Sku: <%= link_to "integra9.ing.puc.cl/api/consultar/:sku", "api/consultar/20" %></b></font></ul>
<ul>Entrega JSON con stock total (en todos los almacenes) dado el SKU </ul>
<ul>Retorno: {"stock":int, "sku":string}</ul><br>

<ul> <font size="5"><b> >Estado de Orden de Compra: <%= link_to "integra9.ing.puc.cl/api/oc/recibir/:idoc", "api/oc/recibir/572eb33d6f88de0300f97770" %></b></font></ul>
<ul>Entrega JSON informando si se aceptó o se rechazó la orden de compra </ul>
<ul>Retorno: {"aceptado":boolean, "id":string}</ul><br>

<ul><font size="5"><b> >Estado de Validación de Factura: <%= link_to "integra9.ing.puc.cl/api/facturas/recibir/:idfactura", "#" %></b></font></ul>
<ul>Entrega JSON informando si dado el id de una factura, esta fue validada o no </ul>
<ul>Retorno: {"validado":boolean,"idfactura":string}</ul><br>

<ul><font size="5"><b> >Enviar Transacción: <%= link_to "integra9.ing.puc.cl/api/pagos/recibir/:idtrx", "#" %></b></font></ul>
<ul>Envía transacción a Empresa </ul>
<ul>Retorno: {"validado":boolean,"idtrx":string}</ul><br>

<p><%= link_to "Volver al inicio", "/home/index" %></p>
