<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>


<h2>Bienvenido al portal del grupo 9 </h2>


<br>

<h3>Ordenes de compra procesados </h3>


<table style="width:100%">
  <tr>
    <th>id</th>
    <th>canal</th>
    <th>cliente</th>
    <th>cantidad</th>
    <th>precioUnitario</th>
    <th>estado</th>
  </tr>
<% @ordenes.each do |orden|  %>
  <tr>
    
    <% ordenes = Oc.getOc(orden).first %>
    <% if ordenes %>
    <td><%= ordenes['_id'] %></td>
    <td><%=ordenes['canal'] %></td>
    <td><%=ordenes['cliente'] %></td>
    <td><%=ordenes['cantidad'] %></td>
    <td><%=ordenes['precioUnitario'] %></td>
    <td><%=ordenes['estado'] %></td> 
    <% end %>
    
  </tr>
  <% end %>
</table>





<p><%= link_to "Ir a documentacion", "/doc" %><%= link_to "Ir a las boletas", "/boletas" %>   <%= link_to "Ir a los Almacenes", "/almacen" %><%= link_to "Ir a la tienda", "/tienda" %> <%= link_to "Ir al modulo de Business Intelligence", "/logistica" %></p>
</body>
</html>
