<h1>Documentación API Grupo 9 </h1>
<h2>Funcionalidades Implementadas </h2>


<%= @almacenes.each do |almacen|  %>

<% if almacen['despacho'] == true  %>
<h3>Este es el almacen de despacho: <%= almacen['_id']  %></h3>

<% end %>
<% if almacen['recepcion'] == true  %>
<h3>Este es el almacen de recepcion: <%= almacen['_id']%> y su capacidad es <%= almacen['totalSpace']  %> </h3>

<% end %>

<% if almacen['pulmon'] == true  %>
<h3>Este es un almacen pulmon: <%= almacen['_id']%> </h3>

<% end %>


<h3>Este es el id de la factura: </h3>

<% end %>
<%= @ordenes = Oc.all  %>
<%= @ordenes.each do |orden|  %>
<%= orden['id']  %>

<% end %>


<p><%= link_to "Ir a documentacion", "/doc" %></p>