<!DOCTYPE html>
<!-- saved from url=(0022)http://localhost:3000/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Myapp</title>
  <link rel="stylesheet" media="all" href="./Myapp_files/bodega.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="./Myapp_files/home.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="./Myapp_files/application.self-e80e8f2318043e8af94dddc2adad5a4f09739a8ebb323b3ab31cd71d45fd9113.css" data-turbolinks-track="true">
  <script src="./Myapp_files/jquery.self-4c7649dd655c61cb850cfd2e71f937c3bbf3e3a752a3499ed8bb9884473fe1dd.js" data-turbolinks-track="true"></script>
<script src="./Myapp_files/jquery_ujs.self-6ab23e892e77da88e18858a9137d4243a9f157d7c8457bfd489a4f931e6df840.js" data-turbolinks-track="true"></script>
<script src="./Myapp_files/turbolinks.self-754d6b6d11bdf4cefc6864b0691355a200f2a86efdaadd6bf76d725d3c07f355.js" data-turbolinks-track="true"></script>
<script src="./Myapp_files/bodega.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="true"></script>
<script src="./Myapp_files/home.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="true"></script>
<script src="./Myapp_files/application.self-3b8dabdc891efe46b9a144b400ad69e37d7e5876bdc39dee783419a69d7ca819.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="l7rhI7e9+M0fWS1xCSUv4+PfrUiR3yvk9myCfAPJEZukf7Kwi+hRN+CYkPwSMRQ/v3eRHIq+saBTh/xmNqOInQ==">
</head>
<body bgcolor="#ECF6CE">






<title> Documentación API Grupo 9 </title>


<style type="text/css">
	
	a{
		color: black;
		text-decoration: none;
	}
</style>

<h1>Documentación API Grupo 9 </h1>
<h2>Funcionalidades Implementadas </h2>

<%= @almacenes.each do |almacen|  %>

<% if almacen['despacho'] == true  %>
<h3>Este es el almacen de despacho: <%= almacen['_id']  %></h3>

<% end %>
<% if almacen['recepcion'] == true  %>
<h3>Este es el almacen de recepcion: <%= almacen['_id']%> y su capacidad es <%= almacen['totalSpace']  %> </h3>

<% end %>

<% if almacen['pulmon'] == true  %>
<h3>Este es un almacen pulmon: <%= almacen['_id']%> </h3>

<% end %>


<h3>Este es el id de la factura: </h3>

<% end %>
<%= @ordenes = Oc.all  %>
<%= @ordenes.each do |orden|  %>
<%= orden['id']  %>
<%= facturas = Facturas.obtenerFactura(orden['id']) %>
<% end %>




<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/grupo" style="color: #4B610B; text-decoration: none">&gt;ID del Grupo</a></b></font></ul>
<ul>Entrega JSON con ID del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/banco" style="color: #4B610B; text-decoration: none">&gt;ID cuenta Banco</a></b></font></ul>
<ul>Entrega JSON con ID de la cuenta banco del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/almacenId" style="color: #4B610B; text-decoration: none">&gt;ID del almacén</a></b></font></ul>
<ul>Entrega JSON con ID del almacén de recepción del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/consultar/.:sku" style="color: #4B610B; text-decoration: none">&gt;Stock SKU</a></b></font></ul>
<ul>Entrega JSON con stock total (en todos los almacenes) dado el SKU </ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/oc/recibir/.:idoc" style="color: #4B610B; text-decoration: none">&gt;Estado de Orden de Compra</a></b></font></ul>

<ul>Entrega JSON informando si se aceptó o se rechazó la orden de compra </ul>

<ul><font size="5"><b><a href="http://integra9.ing.puc.cl/api/facturas/recibir/.:idfactura" style="color: #4B610B; text-decoration: none">&gt;Estado Validación Factura</a></b></font></ul>
<ul>Entrega JSON informando si dado el id de una factura, esta fue validada o no </ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/oc/recibir/.:idoc" style="color: #4B610B; text-decoration: none">&gt;Estado Aceptación Orden de Compra</a></b></font></ul>
<ul>Entrega JSON informando si dado el id de una factura, esta fue validada o no </ul>
</body>
</html>

